"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-beautify":
    general:
      _analyticsUserId: "e780839d-842e-43a6-8c8e-c513bf8c0c7f"
      analytics: false
      beautifyEntireFileOnSave: false
    js:
      end_with_comma: true
      end_with_newline: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
    json:
      indent_size: 2
    jsx:
      end_with_comma: true
      space_after_anon_function: true
  "atom-material-ui":
    colors:
      paintCursor: true
    tabs:
      noTabMinWidth: true
    treeView: {}
    ui:
      animations: false
      panelContrast: true
      panelShadows: true
  "atom-ternjs":
    snippetsFirst: true
    useSnippets: true
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus": {}
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "behave-theme"
    ]
    useCustomTitleBar: true
  docblockr: {}
  editor:
    fontFamily: "InputMono-ExtraLight"
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "b5d44fc2-8362-560d-abbb-04068dd3a3c5"
  "file-types":
    pug: "source.jade"
  "fuzzy-finder": {}
  "go-plus":
    currentPanelHeight: "19.768477292965272vh"
    panelDisplayMode: "closed"
  "language-babel": {}
  linter:
    errorPanelHeight: 181
    showErrorInline: false
  "linter-eslint":
    fixOnSave: true
  "linter-sass-lint":
    configFile: "/Users/cusx/.config/sass-lint/.sass-lint.yml"
    noConfigDisable: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#282828"
        blue: "#458588"
        cyan: "#689d6a"
        green: "#98971a"
        magenta: "#b16286"
        red: "#cc241d"
        white: "#bdae93"
        yellow: "#d79921"
      zBright:
        brightBlack: "#7c6f64"
        brightBlue: "#83a598"
        brightCyan: "#8ec07c"
        brightGreen: "#b8bb26"
        brightMagenta: "#d3869b"
        brightRed: "#fb4934"
        brightWhite: "#ebdbb2"
        brightYellow: "#fabd2f"
    style:
      fontFamily: "InputMono-Regular"
    toggles: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".babel.regexp.source":
  editor:
    tabLength: 4
".git-commit.text":
  editor:
    tabLength: 4
".git-config.source":
  editor:
    tabLength: 4
".git-rebase.text":
  editor:
    tabLength: 4
".jade.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    scrollPastEnd: true
    showIndentGuide: false
    softWrapAtPreferredLineLength: false
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    tabLength: 4
".pyjade.source":
  editor:
    tabLength: 4
".source.styledcss":
  editor:
    tabLength: 4
